<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="5 seconds">
	<timestamp key="byMon" datePattern="yyyy-MM"/>
	<timestamp key="byDay" datePattern="yyyy-MM-dd"/>
	<timestamp key="byHour" datePattern="yyyy-MM-dd-HH"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<ImmediateFlush>true</ImmediateFlush>
			<pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
    <logger name="cn.wanghaomiao" additivity="false">
		<level value="info"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="net.paoding" additivity="false">
		<level value="info"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	<root>
		<level value="info"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
